# Features of  Pandas
* Fast and efficient DataFrame object with default and customized indexing.
* Tools for loading data into in-memory data objects from different file formats.
* Data alignment and integrated handling of missing data.
* Reshaping and pivoting of date sets.
* Label-based slicing, indexing and subsetting of large data sets.
* Columns from a data structure can be deleted or inserted.
* Group by data for aggregation and transformations.
* High performance merging and joining of data.

# Data Structures in Pandas
* Series
* DataFrame
* Panel
DataFrame is widely used and one of the most important data structures.

# Series
pandas.Series( data, index, dtype, copy)

In [2]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s1 = pd.Series(data)
print (s1)
s2=pd.Series([1,2,3,4])
print (s2)
d={"John":25,"Jibin":30,"Alan":22}
s3=pd.Series(d)
print (s3)

0    a
1    b
2    c
3    d
dtype: object
0    1
1    2
2    3
3    4
dtype: int64
John     25
Jibin    30
Alan     22
dtype: int64

In [5]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=['x','y','z','p'])
print (s[0])
print (s['x'])
print (s[:3])
print (s[['x','y','z']])

a
a
x    a
y    b
z    c
dtype: object
x    a
y    b
z    c
dtype: object

# DataFrame
pandas.DataFrame( data, index, columns, dtype, copy)

In [ ]:
#Creation
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print df


#from list of list
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print df

#from dict
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print df

In [ ]:
# accessing by col
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print df ['one']
print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print df

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print df

# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print df

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print df

In [ ]:
#accessingby rows
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print df.loc['b']

#Rows can be selected by passing integer location to an iloc function.
print df.iloc[2]

#row slice
print df[2:4]

# Functionalities

In [6]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df.T)

         0    1       2
Name  Alex  Bob  Clarke
Age     10   12      13

In [7]:
print (df.dtypes)

Name    object
Age      int64
dtype: object

In [8]:
df.ndim

2

In [9]:
df.shape

(3, 2)

In [10]:
df.size

6

In [ ]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print(df.sum)
#df.mean